.img-movimento{
    width: 600px;
    border: 25px groove rgb(212, 100, 131);
    text-align: center;
    
}
.gif-title{
    <div>
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    text-decoration:overline;

}
.container{
    text-align: center;
    margin: auto;
}
.container2{
    text-align: center;

}